<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cfbpe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="cmd_for_background.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <cfbpe.Properties.Settings>
            <setting name="filepass" serializeAs="String">
                <value />
            </setting>
            <setting name="workspece" serializeAs="String">
                <value />
            </setting>
        </cfbpe.Properties.Settings>
        <cmd_for_background.Properties.Settings>
            <setting name="filepass" serializeAs="String">
                <value />
            </setting>
            <setting name="workspece" serializeAs="String">
                <value />
            </setting>
            <setting name="backimage" serializeAs="String">
                <value />
            </setting>
        </cmd_for_background.Properties.Settings>
    </userSettings>
</configuration>